@import url(general.css);
header {
   height: 20vh;
}

.content {
    height: 60vh;
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.titre {
    text-align: center;
}



.titre h1 {
    color: #fff;
    font-size: 70px;
}

.button {
    text-align: center;
}

.button a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    margin: 10px;
    display: inline-block;
    background: transparent;
    transition: all 0.4s ease;
}

.button a:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}


